<div class="about-store-outer">
<div class="about-store-inner">
<div class="about-store-part about-store-part1 col-md-6 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
{% for astore in astores %}
<div class="about-logo-image"><a href="#"><img class="about-logo" src="{{ astore.thumb }}" alt="logo"></a></div>
  <div class="about_titile">{{astore.name}}</div>
  <div class="about_desc">{{astore.description}}</div>
  <div class="about_sign">{{astore.sign}}</div>
{% endfor %}
</div>
<div class="about-store-part about-store-part2 col-md-6 col-sm-6 col-xs-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
{% for astore in astores %}
<div class="about-right-banner cms_parallax2"  data-source-url="image/catalog/about-banner.jpg"><a href="#"><img class="about-logo" src="image/catalog/about-banner.jpg" alt="banner"></a></div>
{% endfor %}
</div>  
</div>  
</div>
