<div class="section blog wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
<div class="container">        
<div class="row">
<div class="section-sub-heading">{{ sub_heading_title }}</div>
<div class="section-heading">{{ heading_title }}</div>
{% set sliderFor = 4 %}
  {% set blogCount = blogs|length %}
  
  <div class="section-block">
    <div class="section-product {% if blogCount >= sliderFor %} owl-carousel blogcarousel{% else %}grid{% endif %}" id="{% if blogCount >= sliderFor %}blog-carousel{% else %}blog-grid{% endif %}"> {% for blog in blogs %}
      <div class="{% if blogCount >= sliderFor %}blog-item{% else %}product-items col-xs-6 col-sm-6 col-md-4{% endif %}">
        <div class="product-thumb"> {% if blog.image %}
          <div class="blog-image"> <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
            <div class="overlayslidebottom">
              <div class="textslidebottom"><a href="{{ blog.href }}">{{ text_read_more }}</a></div>
            </div>
          </div>
          <div class="blog_caption">
          <h4><a href="{{ blog.href }}">{{ blog.title }}</a> </h4>
          <div class="blog-desc"> {{ blog.description }} </div>
          <div class="view-blog">
            <div class="date-time"> {{ blog.date_added }}</div>
            <div class="write-comment"> <a href="{{ blog.href }}"> {{ blog.total_comments }} {{ entry_comment }}</a> </div>
          </div>
        </div>{% endif %} 
        </div>
        </div>
      {% endfor %} </div>
    <div class="buttons text-center">
      <button type="button" onclick="location='{{ all_blogs }}';" class="btn btn-primary">{{ button_all_blogs }}</button>
    </div>
  </div>
</div>
  </div>
</div>
<script><!--

$(document).ready(function(){
$('.blogcarousel').owlCarousel({
		items: 3,
		autoPlay: true,
		singleItem: false,
		navigation: true,
		pagination: false,
		itemsDesktop : [1199,3],
		itemsDesktopSmall :	[991,2],
		itemsTablet : [767,2],
		itemsMobile : [479,1]
	});
});
--></script>