<div class="section latest productsbg wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="container">        
<div class="row">
<div class="section-sub-heading">{{ sub_heading_title }}</div>
<div class="section-heading">{{ heading_title }}</div>
{% set sliderFor = 5 %}
{% set productCount = products|length %}

<div class="section-block">
<div class="section-product {% if productCount >= sliderFor %}lproduct-carousel{% else %}product-grid grid {% endif %}">
{% for product in products %}

<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items col-xs-6 col-sm-4 col-md-4 col-lg-4{% endif %}">
<div class="product-thumb transition">
     {% if product.tag_per  %}
      <p class="tag">{{ product.tag_per }}%</p>
      {% endif %}
<div class="image">
    {% if product.thumb_swap %}
    <div class="first_image"> <a href="{{ product.href }}"> <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /> </a> </div>
    <div class="swap_image"> <a href="{{ product.href }}"> <img src="{{ product.thumb_swap }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /> </a></div>
  {% else %}
  <a href="{{ product.href }}"> <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /> </a>
  {% endif %}

  {% if not product.special %}
  {% else %}
  <div class="saleback"> <span class="sale">{{ text_sale }}</span> </div>
  {% endif %} 
<div class="button-group">
            <button type="button"  data-toggle="tooltip" title="{{ button_wishlist }}" class="wishlist" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button"  data-toggle="tooltip" title="{{ button_compare }}" class="compare"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            <a class="quickview" data-toggle="tooltip" title="{{ button_quickview }}" href="{{ product.quick }}"><i class="fa fa-eye"></i></a>
          </div> 
</div>
<div class="product-details">
<div class="caption">

  <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>

  {% if product.price %}
  <p class="price">
  {% if not product.special %}
  {{ product.price }}
  {% else %}
  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
  {% endif %}
  {% if product.tax %}
  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
  {% endif %}
  </p>
  {% endif %}
  <div class="rating">
  {% for i in 1..5 %}
  {% if product.rating < i %} <span class="fa fa-stack">
  <i class="fa fa-star fa-stack-2x blank"></i></span>
  {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> {% endif %}
  {% endfor %}
  </div>

   <div id="lproduct-{{ product.product_id }}" class="product_option"> 
  <button type="button" class="btn custom" {% if product.options %} data-toggle="modal" data-target="#lproduct_option{{ product.product_id }}" {% else %} id="laddtocart-{{ product.product_id }}" onclick="addtolatestCart({{ product.product_id }},1);" {% endif %}>{% if product.options %}+ {% endif %}{{ button_cart }}</button>
  
 
  <div id="lproduct_option{{ product.product_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
         <div class="modal-content">
     <div class="modal-header">
        <h2 class="modal-title-top">{{ text_option_title }}</h2>       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-header-bottom">
 <h4 class="modal-title"><a href="{{ product.href }}">{{ text_option }} “{{ product.name }}”</a></h4></div>
    
        {% for option in product.options %}           
            {% if option.type == 'radio' %}
            <div class="form-group radio-block{% if option.required %} required{% endif %}">
               <label class="control-label">{{ option.name }}</label>
               <div id="finput-option{{ option.product_option_id }}">             
               {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label title="{% if option_value.price %}{{ option_value.price_prefix }}{{ option_value.price }}{% endif %}">
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}"/>
                    {% if option_value.image %}<span> <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> </span>
                    {% else %}
                    <span>{{ option_value.name }}{% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %}</span>
                    {% endif %} 
                     </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %} 
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="finput-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}         
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="finput-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="finput-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="finput-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="finput-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="finput-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="finput-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="finput-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="finput-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
           
           <div class="input-group col-xs-12 col-sm-12 button-group"> 
<label class="control-label col-sm-2 col-xs-2">{{ entry_qty }}</label>
<div class="field1">
    <button type="button" class="qtyminus">-</button>
    <input type="text" id="input-quantity{{ product.product_id }}"  class='quantity' name='quantity' value='{{ minimum }}'/>
    <button type="button" class="qtyplus">+</button>
</div>

     <input type="hidden" name="product_id" value="{{ product.product_id }}" />
              <button type="button" class="addtocart col-sm-4 pull-right" id="laddtocart-{{ product.product_id }}" onclick="var xqty='input-quantity{{ product.product_id }}';
  var aqty = parseInt(document.getElementById(xqty).value); addtolatestCart({{ product.product_id }},aqty);">{{ button_custom_cart }}</button>
            </div> 
             </div>  

            </div> </div> </div>     
                </div>
            </div>
          </div>
</div>
{% endfor %}

</div>
</div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
$('.lproduct-carousel').owlCarousel({
        items: 3,
        autoPlay: false,
        singleItem: false,
        navigation: true,
        pagination: false,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [991,3],
        itemsTablet : [650,2],
        itemsMobile : [480,1]
    });
  });
function addtolatestCart(product_id,quantity){
          $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#lproduct-' + product_id + ' input[type=\'text\'],#lproduct-' + product_id + ' input[type=\'number\'], #lproduct-' + product_id + ' input[type=\'hidden\'], #lproduct-' + product_id + ' input[type=\'radio\']:checked, #lproduct-' + product_id + ' input[type=\'checkbox\']:checked, #lproduct-' + product_id + ' select, #lproduct-' + product_id + ' textarea'),
            dataType: 'json',
            beforeSend: function() {
              $('#laddtocart-'+ product_id).button('loading');
            },
            complete: function() {
              $('#laddtocart-'+ product_id).button('reset');
            },
            success: function(json) {
              $('.alert, .text-danger').remove();
              $('.form-group').removeClass('has-error');
              if (json['error']) {
                if (json['error']['option']) {
                  for (i in json['error']['option']) {
                    var element = $('#finput-option' + i.replace('_', '-'));

                    if (element.parent().hasClass('input-group')) {
                      element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                    } else {
                      element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                    }
                  }
                }

                if (json['error']['recurring']) {
                  $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                }

                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
              }

              if (json['success']) {
                $('.breadcrumb').after('<div class="alertmsg"><div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');

             $('.modal').each(function(){
                    $(this).modal('hide');
                }); 


            $('#cart > button').html('<span class="cart-total">' + json['total'] + '</span><span class="cart-total-res">Item</span>');
            $('.alertmsg').delay(1500).fadeOut();

           // $('html, body').animate({ scrollTop: 0 }, 'slow');

            $('#cart > ul').load('index.php?route=common/cart/info ul li');
              
              $("button.close").click(function() {
                        $(".alertmsg").remove()
                    })
             }
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });         
        }
    
</script>
<style>
#column-left .productsbg:before,#column-left .productsbg:after{
  content:"";
 background: none;
  }
  #column-left .product-thumb button,
  #column-left .section-sub-heading{display: none;}
   #column-left .product-thumb h4 a{font-size: 15px; line-height: 17px;}
</style>