
<div class="shipping-outer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="container">
<div class="row">
<div class="shipping-inner">
{% for service in services %}
<div class="subtitle-part col-md-4 col-sm-4 col-xs-12">
<div class="subtitle-part-inner">
<div class="subtitile">
<div class="subtitle-part-image"><img class="service-img img-responsive" src="{{ service.thumb }}" alt="{{ service.thumb }}" /></div>  
<div class="subtitile1">{{service.name}}</div>
<div class="subtitile2">{{service.description}}</div>
</div>
</div>
</div>
 {% endfor %}
</div>
</div>
</div>
</div>