<div  class="testimonial-block section fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="container">        
<div class="row">
<div class="section-sub-heading">{{ sub_heading_title }}</div>
<div class="section-heading">{{module_testimonials_heading}}</div>
<div  class="testimonial owlCarousel">


        {% for testimonial in testimonials %}
       <div class="slider-item">
               <div class="testmonial-inner-block">
               <div class="testmonial-author-name">{{testimonial.author}}</div>
               <img class="testimonial-img img-responsive" src="{{ testimonial.thumb }}" alt="{{ testimonial.thumb }}" />
              <div class="testmonial-details">
              <div class="testmonial-author">{{ testimonial.designation}}</div>
              <div class="desc">{{testimonial.description}}</div>
              </div>
             </div>
              </div>
        {% endfor %}

  </div>
   </div>
   </div>
   </div>

<script>
    $(document).ready(function(){

    $('.testimonial').owlCarousel({
        items: 4,
        autoPlay: true,
        singleItem: false,
        navigation: false,
        pagination: false,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [991,3],
        itemsTablet : [767,3],
        itemsTabletSmall : [650,2],
        itemsMobile : [479,1]
    });
    });
</script>
