<div class="panel panel-default coupon">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ heading_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <button type="button" value="{{ button_coupon }}" id="coupon_button" class="btn btn-primary" data-toggle="modal" data-target="#collapse-coupon">{{ button_coupon }}</button>

  <div id="collapse-coupon" class="modal fade" role="dialog">    
<div class="modal-dialog open">
          <div class="modal-content">
     <div class="modal-header">
      <h2 class="modal-title-top">{{ text_coupon_title }}</h2>       
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
         </div>
        <div class="modal-header-bottom">
 <h4 class="modal-title">{{ heading_title }}</h4></div>        
      
      <label class="col-sm-2 control-label" for="input-coupon">{{ entry_coupon }}</label>
      
    <div class="input-group col-xs-12 col-sm-12">
        <input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control" />
        <span class="input-group-btn">
        <input type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
        </span>
         </div>
         <div class="input-group col-xs-12 col-sm-12">
         <div class="or">{{ text_or }}</div>
          <div>{{ text_choose }}</div>
          {% for couponlist in couponlists %}        
        
        <div class="radio">
        <label>
        <input type="radio" id="{{ couponlist.id }}" name="coupon" value="{{ couponlist.code }}" class="form-control" />
        	<div class="promocode">{{ couponlist.code }}</div>
        	<div>{{ couponlist.name }}</div>
        	<div class="date_end pull-right">Valid Before :{{ couponlist.date_end }}</div>
        	                  
        </div>
    	{% endfor %}
        </div></div>
        

<script type="text/javascript"><!--
 $('input[type=\'radio\']').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[type=\'radio\']:checked').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
$('#button-coupon').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
    </div>
  </div>
</div>
