.live-search {
	background-color: #f2f2f2;
	display: none;
	left: 0px;
	padding: 15px;
	position: absolute;
	top: 100%;
	border-radius:0 0 5px 5px;
	width: 100%;
	z-index: 1000;
	max-height: 400px;
	overflow-x: scroll;
}
.ajaxcart
{
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid #e5e5e5;
	padding: 3px 30px;
}
.ajaxcart:hover,.ajaxcart:focus{
	background-color: #ffab58;
	border-color: #ffab58;
	color: #fff;	
}
.live-search .loading {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.live-search ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
.live-search ul li {
	cursor: pointer;
	padding: 5px;
	margin: 0 0 10px;
	clear: both;
	float: left;
	height: auto!important;
	width: 100%
}
.live-search ul li a {
	text-decoration: none;
	display: block
}
.live-search ul li .product-name {
	color: #000
}
.live-search ul li a:hover,
.live-search ul li .product-name:hover {
	color: #da251d
}
.live-search ul li .product-image {
	float: left;
	margin-right: 10px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	overflow: hidden;
}
.live-search ul li .product-name p {
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.live-search ul li .product-name {
	font-weight: 400;
	float: left;
	width: 65%;
	font-size: 13px
}
.live-search ul li .product-name:hover,
.live-search ul li .product-name:focus {
	color: #000
}
.live-search ul li .product-price {
	text-align: left;
	font-weight: 400;
	float: left;
	margin: 5px 0 10px;
	width: 65%;
	color: #000;
	font-size: 13px
}
.live-search ul li .product-price .price {
	float: left;
	margin: 0 0 0 5px;
	color: #000;
}
.live-search ul li .product-price .special {
	color: #737373;
	text-decoration: line-through;
	float: left
}
.live-search .result-text {
	background-color: #ffab58;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	clear: both;
	border-radius: 5px;
}
.live-search .result-text a {
	color: #fff
}


@media (max-width: 991px) {
	.live-search{
		max-height: 300px;
	}
	.live-search ul li .product-name{width: 60%;}
}
@media (max-width: 767px) {
	.search-overlay .search-popup{top: 40%;}
	#search input{font-size: 40px; padding-top: 60px;}
}