<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,400i,600,700" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Niconne:300,400,600,700" rel="stylesheet"/>
<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/bootstrap.min.css" rel="stylesheet">
<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/jquery.fancybox.css" rel="stylesheet">
<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/animate.css" rel="stylesheet">
<link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" rel="stylesheet"/>
<link href="catalog/view/theme/{{ mytemplate }}/stylesheet/live_search.css" rel="stylesheet"/>

{% if direction=='rtl' %}
<link rel="stylesheet" href="catalog/view/theme/{{ mytemplate }}/stylesheet/rtl.css">
{% endif %}

{% for style in styles %}
<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js"></script>
<script src="catalog/view/javascript/jquery.elevatezoom.min.js"></script>
<script src="catalog/view/javascript/template_js/jstree.min.js"></script>
<script src="catalog/view/javascript/tabs.js"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.js"></script>
<script src="catalog/view/javascript/template_js/template.js"></script>
<script src="catalog/view/javascript/template_js/jquery.firstVisitPopup.js"></script>
<script src="catalog/view/javascript/parallax.js"></script>
<script src="catalog/view/javascript/template_js/simpleswap.js"></script>
<script src="catalog/view/javascript/jquery.fancybox.js"></script>
<script src="catalog/view/javascript/template_js/wow.min.js"></script>

<script> 

$(function () {
$('.common-home #subscribe-me').firstVisitPopup({
cookieName : 'foodcom1',
showAgainSelector: '#show-message'
});
});
</script>
<script>
$(document).ready(function(){
$(".quickview").fancybox({
type: 'iframe'
});

$(".fancybox").fancybox();

//var modal = document.getElementsByClassName("product_option");
 //   modal.style.display = "block";

});

</script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
{% if column_left and column_right %}
{% set layoutclass = 'layout-3' %}
{% elseif column_left %}
{% set layoutclass = 'layout-2 left-col' %}
{% elseif column_right %}
{% set layoutclass = 'layout-2 right-col' %}
{% else %}
{% set layoutclass = 'layout-1' %}
{% endif %}

<body class="{{ body_class }} {{ layoutclass }}">
<nav id="top">
<div class="container">
<div class="row">

</div>
</div>
</nav>

<header>
<div class="header-block">
<div class="header-top-block">
  <div class="container">
  <div class="row">
  <div class="header-top-left col-xs-10 col-sm-8 col-md-7 col-lg-7">
    
    <div class="telephone"><a href="{{ contact }}">{{ telephone }}</a></div>{% if open %}<div class="open_time"><span>{{ text_open }} </span>:  {{ open }}</div>{% endif %}
    {{ language }}
    {{ currency }}
  </div>
  <div class="header-top-right col-xs-2 col-sm-4 col-md-5 col-lg-5">
   <div class="header-cart">{{ cart }}</div>
   
    <div id="top-links" class="nav">
      <ul class="list-inline">
        
        <li class="dropdown myaccount"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-sm hidden-md">{{ text_account }}</span></a>
          <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          
        <li class="wishlist"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li class="checkout"><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
        </ul>
        </li>
      </ul>   
    
    </div>
    
<div class="header-search"><a id="search-overlay-btn">{{ text_search }}</a>{{ search }}</div>
  </div>
</div>
</div>
</div>
<div class="header-bottom-block">
  
  <div class="container">
  <div class="row">
  <div class="header-bottom-left col-xs-12 col-sm-12 col-md-2 col-lg-3">
   
    <div class="header-logo">
    <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
    <h1><a href="{{ home }}">{{ name }}</a></h1>
    {% endif %}</div>
    </div>
    <span class="responsive-bar" data-target="#responsive-menu" data-toggle="collapse"><i class="fa fa-bars"></i></span>
  </div>
  <div class="header-bottom-right col-xs-12 col-sm-12 col-md-10 col-lg-9">
     
    <div class="header-menu">
     
    {{ menu }}
    {{ header_bottom }}
    </div>
    </div>
</div>
 </div>
</div>
</div>
<div class="header-static-block">
<div class="container">
<div class="row">
<div class="icon-block">
  <div class="home_icon">
  <a href="{{ home }}"><i class="fa fa-home"></i>{{ text_home }}</a>
  </div>
  <div class="search_icon">
  
  </div>
  <div class="cart_icon">

  </div>
  <div class="login_icon">
   {% if logged %}
    <a href="{{ logout }}"><i class="fa fa-user"></i>{{ text_logout }}</a>
    {% else %}
    <a href="{{ login }}"><i class="fa fa-user"></i>{{ text_login }}</a>
    {% endif %}
  </div>
  <div class="telephone_icon">
    <a href="{{ contact }}"><i class="fa fa-phone"></i>{{ text_contact }}</a>
  </div>
</div>
 </div>
</div>
</div>
</header>
<div class="content-top-breadcum">
<div class="overlayslidebottom"></div>
</div>
