<div class="search-overlay"> 
<!-- Close Icon --> 
	<a href="#" class="search-overlay-close"></a> 
	
	<div class="container"> 	
	<div id="search" class="input-group search-popup">
		<span class="input-group-btn">
	    <button type="button" class="btn btn-default btn-lg"></button>
	  </span>
	  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
	  
	</div>
	<!-- End Search Form --> 
	</div>
</div>
