{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-blogger').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-blogger">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'author' %}
                    <a href="{{ sort_author }}" class="{{ order|lower }}">{{ column_author }}</a>
                    {% else %}
                    <a href="{{ sort_author }}">{{ column_author }}</a>
                    {% endif %}</td>
                  <td class="text-left">{{ column_email }}</td>
                  <td class="text-left">{{ column_status }}</td>
                  <td class="text-right">{% if sort == 'date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if blog_comments %}                
               {% for comment in blog_comments %}
			    <tr>
                  <td class="text-center">{% if selected in comment.blogger_comment_id %}
                    <input type="checkbox" name="selected[]" value="{{ comment.blogger_comment_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ comment.blogger_comment_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ comment.author }}</td>
                  <td class="text-left">{{ comment.email }}</td>
                  <td class="text-left">{{ comment.approved }}</td>
                  <td class="text-right">{{ comment.date_added }}</td>
                  <td class="text-right">{% if comment.is_approved %}
                      <a href="{{ comment.disapprove }}" data-toggle="tooltip" title="{{ button_disapprove }}" class="btn btn-warning"><i class="fa fa-refresh"></i></a>
                      {% else %}
                      <a href="{{ comment.approve }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success"><i class="fa fa-refresh"></i></a>
                      {% endif %}
                      <a href="{{ comment.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}