{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {% if return %}
        <a href="{{ return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %}
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-blogger').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-blogger">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'bd.title' %}
                    <a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
                    {% else %}
                    <a href="{{ sort_title }}">{{ column_title }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'b.module_id' %}
                    <a href="{{ sort_module }}" class="{{ order|lower }}">{{ column_module }}</a>
                    {% else %}
                    <a href="{{ sort_module }}">{{ column_module }}</a>
                    {% endif %}</td>
                  <td class="text-left">{{ column_status }}</td>
                  <td class="text-right">{{ column_comments }}</td>
                  <td class="text-right">{% if sort == 'b.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if bloggers %}               
                {% for blog in bloggers %}
				<tr>
                  <td class="text-center">{% if selected in blog.blogger_id %}
                    <input type="checkbox" name="selected[]" value="{{ blog.blogger_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ blog.blogger_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ blog.title }}</td>
                  <td class="text-left">{{ blog.module }}</td>
                  <td class="text-left">{{ blog.status }}</td>
                  <td class="text-right">{{ blog.total_comments }}</td>
                  <td class="text-right">{{ blog.date_added }}</td>
                  <td class="text-right">
                      <a href="{{ blog.comments }}" data-toggle="tooltip" title="{{ button_comments }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                      <a href="{{ blog.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}