{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} all-blog">{{ content_top }}
      <h1>{{ text_blogs }}</h1>
      {% if blogs %}      
      {% for blog in blogs %}
      <div class="panel-default">
        <h4>{{ blog.name }}</h4>
        <div class="row"> {% if blog.blog_data %}        
          {% for topic in blog.blog_data %}
          <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body"> {% if topic.image %}
                <div class="blog-left-content">
                  <div class="blog-image"> <img src="{{ topic.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
                    <div class="post-image-hover"> </div>
                    <p class="post_hover"><a rel="group" class="icon zoom fancybox" title="Click to view Full Image " href="{{ topic.image }}"><i class="fa fa-search-plus"></i> </a><a class="icon readmore_link" title="Click to view Read More " href="{{ topic.href }}"><i class="fa fa-link"></i></a></p>
                  </div>
                </div>
                {% endif %}
                <h3><a href="{{ topic.href }}">{{ topic.title }}</a></h3>
                <div class="blog-date"> <i class="fa fa-calendar"></i> {{ topic.date_added }}</div>
                <div class="dash"> |</div>
                <div class="write-comment"> <a href="{{ topic.href }}">{{ topic.total_comments }} {{ entry_comment }}</a> </div>
                <div class="blog-desc">{{ topic.description }} </div>
                <div class="read-more"> <a href="{{ topic.href }}"> {{ text_read_more }}</a> </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="panel-body text-center">{{ text_no_blogs }}</div>
          {% endif %} </div>
        {% endfor %}
        {% else %}
        <div class="panel-body text-center">{{ text_no_blogs }}</div>
        {% endif %}
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}